{% extends "layout.html" %}
{% block content %}
<div class="container">

    <div class="row">
        <div class="col-6">
            <h1>Hola {{nombre}}</h1>
            <h3>El total de tu compra es de: {{res}}</h3>
        </div>
        <div class="col-4">
            <img src="https://images.mediotiempo.com/Vymnf6EtQdv1Pq8--8ssZbIrHy0=/958x596/uploads/media/2020/03/24/cinepolis-cerrara-sus-puertas-hasta.jpg"
                style="width:500px;height:280px; margin-top: 50px;" />
        </div>


    </div>

</div>

{% endblock %}