{% extends "layout.html" %}
{% block content %}
{% from "_macros.html" import render_input %}
<form name="form" action="/Alumnos" method="POST">
    <div class="control-group">
        <div class="controls col-5">
            {{ render_input("txtMatricula", "Matricula") }} <!-- Es para que pinte  -->
            {{ render_input("txtNombre", "Nombre") }}
            {{ render_input("txtEdad", "Edad", type="number") }}
            {{ render_input("txtCorreo", "Correo", type="email") }}
            {{ render_input("txtpasword", "Contraseña", type="password") }}
            <button type="submit" class="btn btn-primary">Calcular
                <i class="icon-ok icon-white"></i>
            </button>
        </div>

    </div>
</form>
{% endblock %}